* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  cursor: default;
}

*::selection {
  background-color: #3c3c3c;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  padding: 20px;
}

button {
  border-radius: 20px;
}
button:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-button {
  margin: 10px;
  padding: 1rem;
  font-size: 5rem;
  background-color: #191919;
  border: none;
  cursor: pointer;
}
.item-button.selected {
  border: #fadd00 4px solid;
}

.play-btn {
  margin-top: 20px;
  padding: 0.5rem 3rem;
  font-size: 3rem;
}
.yellow-btn:hover {
  background-color: #aa9600;
  cursor: pointer;
}

.round-result {
  padding: 10px;
  text-align: center;
  font-size: 1.4rem;
}
.round-result.hidden {
  display: none;
}

.scores {
  display: flex;
  font-size: 1.4rem;
}

.player-score,
.computer-score {
  margin: 0 15px;
  text-align: center;
}

.modal {
  background-color: #191919;
  margin: auto;
  margin-top: 100px;
  height: 30vh;
  width: 30vh;
  border: none;
  border-radius: 20px;
  opacity: 0;
  z-index: -1;

  display: flex;
  justify-content: center;
}

.modal::backdrop {
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.3);
}
.modal.open {
  opacity: 1;
  z-index: 999;
}

.modal-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  margin: auto;
  font-size: 2rem;
}

.close-btn {
  margin-bottom: 50px;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
}

.yellow-btn {
  background-color: #fadd00;
  font-weight: bold;
  border: none;
}
